@charset "UTF-8";

body {
    background: rgb(70, 142, 236);
    font: normal 16px arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    width: 500px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
    text-align: justify;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}